<form name="sfChatForm">
<textarea name="message" placeholder="{{$ctrl.placeholder}}" type="text" ng-model="$ctrl.form.text" ng-paste="$ctrl.getClipboard(evidence, $event)"></textarea>
<div class="sf-chat__form-uploader">
<form ng-submit="$ctrl.upload()">
    <input class="ng-hide" id="uploader" name="uploader" type="file" multiple="multiple" ng-model="$ctrl.file" ng-change="$ctrl.upload()">
    <label for="uploader" class="sf-chat__form-uploader-btn" ng-show="!$ctrl.form.text.length">
    	<img ng-src="{{$ctrl.loaderIcon}}" alt="attachment" ng-show="$ctrl.uploadInProgress" class="sf-chat__form-loader-icon">
    	<img ng-src="{{$ctrl.attachmentIcon}}" alt="attachment" ng-show="!$ctrl.uploadInProgress" class="sf-chat__form-attachment-icon">
    </label>
 </form>
 <img ng-src="{{$ctrl.sendIcon}}" alt="send" ng-click="$ctrl.sendMessage($ctrl.form.text)" ng-show="$ctrl.form.text.length" class="sf-chat__form-send-icon">
 </div>
 </form>